#timeline {
  width: 900px;
  /* height: 300px; */
  overflow: hidden;
  margin: 50px auto;
  position: relative;
}

.hrLine{
  margin-top: 72px;
}

#dates {
  width: 760px;
  height: 90px;
  overflow: hidden;
}

#dates li {
  list-style: none;
  float: left;
  width: 100px;
  height: 50px;
  font-size: 24px;
  text-align: center;
}

#dates > li > .onepx{
  width: 1px;
  height: 20px;
  margin: 0 auto;
  background: #eee;
}

#dates a {
  line-height: 50px;
  font-size: 14px;
  font-weight: 400;
}

#dates .selected {
  font-size: 38px;
  line-height: 30px;
  color: #4f96f5;
  display: block;
  margin-bottom: 20px;
}

#issues {
  /* width: 800px; */
  height: 300px;
  overflow: hidden;
  text-align: center
}

#issues li {
  width: 100%;
  height: 200px;
  list-style: none;
  float: left;
  position: relative;
}


.timeline{
  position: relative;
}

.timeline > button {
  position: absolute;
  border: 0;
  outline: none;
  top: 10px;
  z-index: 9999;
}

.timeline > button > i{
  display: block;
  height: 40px;
  width: 40px;
}

.timeline > button  > i > img{
  float: left;
  width: 100%;
}

.prev{
  left: 0;
}

.next {
  right: 0;
}

.dates{
  position: absolute;
  top: 0;
  z-index: 999;
}

.wrap{
    overflow: hidden;
}

.issues > li > div{
  width: 50%;
  display: block;
  height: 200px;
  position: relative;
}

.issues > li .right > h5{
  background: url(../images/icon_pointoftime.png) no-repeat;
  background-size: contain;
  text-align: left;
  padding-left: 60px;
  font-size: 14px;
  position: absolute;
  left: -7px;
  z-index: 9;
}

.issues > li .left > h5{
  background: url(../images/icon_pointoftime.png) 89.5px 0 no-repeat;
  background-size: contain;
  text-align: left;
  padding-right: 60px;
  font-size: 14px;
  position: absolute;
  right: -7px;
  z-index: 9;
}

.issues > li .right .textArea{
  display: block;
  margin: 50px;
  padding: 20px;
  background: #4F96F5;
  color: #fff;
  border-top-left-radius:0;
  border-top-right-radius:12px;
  border-bottom-right-radius:12px;
  border-bottom-left-radius:12px;
}

.issues > li .left .textArea{
  display: block;
  margin: 50px;
  padding: 20px;
  background: #4F96F5;
  color: #fff;
  border-top-left-radius:12px;
  border-top-right-radius:0;
  border-bottom-right-radius:12px;
  border-bottom-left-radius:12px;
}

.issues > li .left .yearLine{
  position: absolute;
  width: 30px;
  height: 1px;
  top: 0;
  right: 0;
  margin:8px 0;
}

.issues > li .right .yearLine{
  position: absolute;
  width: 30px;
  height: 1px;
  top: 0;
  left: 0;
  margin:8px 0;
}